:host{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: stretch;
}
.main__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__btn{
    display: flex;
    justify-content: space-around;
    align-items: center
}