<div class="container main__box">
    <div class="row box_center">
        <div class="col s12 m8 l6">
            <div class="card-panel hoverable">
                <div class="row">
                    <h4 class="col s12 main__title">
                        Register
                    </h4>
                    <form class="col s12 form" [formGroup]="registerForm" novalidate (ngSubmit)="loginForm()">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="fullname" type="text" formControlName="name" name="fullname"
                                       class="validate">
                                <label for="fullname" data-error="wrong" data-success="right">Full Name</label>
                            </div>
                            <div class="col s12 red-text"
                                 *ngIf="registerForm.controls['name'].invalid && registerForm.controls['name'].touched">
                                Minimum length is 2
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" formControlName="email" name="email">
                                <label for="email">Email</label>
                            </div>
                            <div class="col s12 red-text"
                                 *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">
                                Email is not valid
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate" formControlName="password"
                                       name="password">
                                <label for="password">Password</label>
                            </div>
                            <div class="col s12 red-text" *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
                                Minimum length is 6
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="repeatPassword" type="password" class="validate" formControlName="repeat_password" name="repeatPassword">
                                <label for="repeatPassword">Confirm Your Password</label>
                            </div>
                            <div class="col s12 red-text" *ngIf="registerForm.controls['repeat_password'].invalid && registerForm.controls['repeat_password'].touched">
                                Minimum length is 6
                            </div>
                            <div class="col s12 red-text" *ngIf="registerForm.controls['repeat_password'].touched && password != repeat_password">
                                Must match password
                            </div>
                        </div>
                        <div *ngIf="status" class="center-align">
                            <span [ngClass]="{'green-text':status == 1, 'red-text': status==2}">{{message}}</span>
                        </div>
                        <div class="row main__btn">
                            <button class="btn waves-effect waves-light" type="submit" name="action"
                                    [disabled]="password !== repeat_password || registerForm.invalid">Send
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="loader" *ngIf="isSending">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>

                        <div class="spinner-layer spinner-red">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>

                        <div class="spinner-layer spinner-yellow">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>

                        <div class="spinner-layer spinner-green">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>