:host{
  width: 100%;
  align-self: stretch;
}
.main__box, .main__btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__box{
  flex-direction: column;
}
.main__box > *{
  width: 100%;
}
.main__title{
  text-align: center;
}