.list__head{
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  padding: .2em .3em;
  color: white;
  transition: all .4s ease;
}
.head__input{
  border: none;
  background: transparent;
  font-size: 1.3em!important;
  color: white;
  font-weight: 400;
  /*flex: 1;*/
  width: 90%;
  margin: 0!important;
  border-bottom: none!important;
  height: 2em!important;
}
.material-icons{
  cursor: pointer;
  font-size: 1.3em;
  transition: all .4s ease;
  width: 3%;
  text-align: center;
  user-select: none;
}
.material-icons:first-child{
  width: 4%;
}
@media only screen and (max-width: 600px) {
  .material-icons{
    width: 7%;
  }
  .material-icons:first-child{
    width: 7%;
  }
  .head__input{
    font-size: 16px!important;
  }
}