.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}
.main__list{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-self: center;
  width: 80%;
  margin-bottom: 2.5%;
  border-radius: 2px 2px 12px 12px;
  overflow: hidden;
}
.material-icons{
  cursor: pointer;
  font-size: 1.3em;
  transition: all .4s ease;
  width: 3%;
  text-align: center;
}

.rewrite, .delete{
  color: lightgray;
}
.material-icons:hover{
  color: white;
}
.date{
  color: white;
}
.date:hover{
  color: gray;
}
.list__todos{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  border-right: none;
  border-left: none;
  margin-bottom: 0!important;
  margin-top: .25em;
}
.todos__task{
  list-style: none;
  width: 100%;
  /*padding: .25em 0;*/
  background: white;
  /*border: 1px solid lightgray;*/
  border-top: none;
  padding: 0!important;
  
}
.todos__task:last-child{
  /*border-radius: 0 0 .5em .5em;*/
}
todo-task{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}
.zero{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .main__list{
    width: 100%;
  }
}