:host{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: flex-start;*/
  align-items: center;
  align-self: stretch;
  width: 100%;
  margin-bottom: 1.5em;
}
todo-project{
  width: 80%;
  /*height: 100%;*/
}
@media only screen and (max-width: 600px) {
  todo-project{
    width: 100%;
    padding: .25rem .5rem;
  }
}