<i class="material-icons checkbox" (click)="toggle(item, task, inputElement)">{{task.status?'check_box':'check_box_outline_blank'}}</i>
<input type="text" class="task__title" value="{{task.name}}" [attr.disabled]="changed?null:'disabled'" [ngClass]="{done: task.status}" #inputElement focus>
<div class="task__interaction">
  <i class="material-icons">swap_vert</i>
  <i class="material-icons" *ngIf="!changed" (click)="changed = !changed">create</i>
  <i class="material-icons" (click)="rewriteTask(item,task, inputElement)" *ngIf="changed">done</i>
  <i class="material-icons" (click)="removeTask(item, task)">delete</i>
</div>